.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.aboutUsContainer__section {
  max-width: 75%;
}

.aboutUsContainer__summary {
  background: linear-gradient(
    to right,
    var(--color-secondary-light),
    var(--color-primary-light)
  );
  width: 100%;
  padding: 1.2rem;
}

.aboutUsContainer__title {
  font-size: 2.5rem;
  color: var(--color-title);
  margin: 0;
}

.aboutUsContainer__description {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  margin: 0;
}

.aboutUsContainer__team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.2rem;
  justify-content: center;
}

.aboutUsContainer__teamMember {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-bg-light);
  text-align: center;
}
.aboutUsContainer__teamMemberName {
  margin-top: 0;
  margin-bottom: 0.3rem;
}
.aboutUsContainer__teamMemberPhoto {
  width: 100%;
  aspect-ratio: 9 / 11;
  object-fit: cover;
  object-position: top;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.aboutUsContainer__teamMemberTexts {
  padding: 0.6rem;
}
.aboutUsContainer__teamMember h2 {
  font-size: 1.5rem;
  color: var(--color-title);
  margin-bottom: 0.6rem;
}

.aboutUsContainer__teamMemberParagraph {
  font-size: 1rem;
  color: var(--color-text-secondary);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 800px) {
  .aboutUsContainer__team {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .aboutUsContainer__team {
    grid-template-columns: repeat(4, 1fr);
  }
}
