:root {
  --color-primary: #34d6c1;
  --color-primary-hover: #2bb3a3;
  --color-bg: #dfe9e9;
  --color-bg-light: #f7f7f7;
  --color-shadow: rgba(0, 0, 0, 0.05);
  --color-shadow-transparent: rgba(0, 0, 0, 0);
  --color-border-light: #ccc;
  --color-border: #ddd;
  --color-accent: #ebfcf9;
  --color-title: #097954;
  --color-white: #fff;
  --color-text: #333;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg);
  margin: 0;
  color: var(--color-text);
}
