:root {
  --color-primary: #34d6c1;
  --color-primary-hover: #2bb3a3;
  --color-bg: #dfe9e9;
  --color-bg-light: #f7f7f7;
  --color-shadow: rgba(0, 0, 0, 0.08);
  --color-shadow-transparent: rgba(0, 0, 0, 0);
  --color-border-light: #ccc;
  --color-border: #ddd;
  --color-accent: #ebfcf9;
  --color-accent-hover: #c7fff8;
  --color-title: #097954;
  --color-white: #fff;
  --color-text-primary: #333;
  --color-text-primary-secondary: #555;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Segoe UI, Verdana, Arial, sans-serif;
  background-color: var(--color-bg);
  margin: 0;
  color: var(--color-text-primary);
}

ul li {
  margin: 0.5vh 0;
}

li::marker {
  color: var(--color-primary-hover);
}
