.textContainer {
  background-color: var(--color-bg-light);
  border-radius: 12px;
  padding: 1.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 1.2rem;
  box-shadow: 0 0 5px var(--color-shadow);
  max-height: 75vh;
  width: 100%;
  color: black;
  position: relative;
  scrollbar-color: var(--color-border) var(--color-bg-light);
  z-index: 0;
}

.textContainer__textTitle {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.6rem 0;
}

.textContainer__textAuthor {
  font-size: 0.9em;
  text-align: right;
}

.textContainer__textSource {
  display: block;
  font-size: 0.8em;
  color: var(--color-primary);
  text-align: right;
  cursor: pointer;
  word-break: break-all;
}

.textContainer__textSource:hover {
  color: var(--color-text-primary);
}

.textContainer__text-paragraph {
  font-size: 1rem;
  text-align: justify;
  text-indent: 4em;
  line-height: 1.5rem;
  word-spacing: 0.15rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0.75rem 0;
}

.wordElement {
  font-size: inherit;
  line-height: inherit;
  word-spacing: inherit;
  border-radius: 3px;
  transition: background-color 0.08s ease, box-shadow 0.08s ease;
  z-index: 1;
}

.wordElement.highlighted {
  position: relative;
  background-color: var(--color-highlight);
  box-shadow: 0 0 0 0.2rem var(--color-highlight);
  z-index: -1;
  scroll-margin-block-end: 50vh;
}

.wordElement.highlighted::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1000px;
  right: -1000px;
  background-color: var(--color-highlight-secondary);
  box-shadow: 0 0 0 0.2rem var(--color-highlight-secondary);
  z-index: -2;
}

@media (max-width: 720px) {
  .textContainer {
    max-width: 98%;
    max-height: fit-content;
  }
}
