.textReaderContainer {
  width: 80%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
  border-radius: 15px;
  padding: 4svh 6svh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

.textReaderContainer__fileUploader {
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  background-color: #ebfcf9;
  margin-bottom: 10px;
}
.textReaderContainer__fileUploader__input {
  display: none;
}

.textReaderContainer__fileUploader__label {
  display: inline-block;
  padding: 10px 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #34d6c1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.textReaderContainer__fileName {
  max-height: 500px;
  max-width: 900px;
  width: 90%;
}

@media (max-width: 930px) {
  .textReaderContainer {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .textReaderContainer__fileUploader__label {
    margin-top: 10px;
  }

  .textReaderContainer {
    padding-left: 5px;
    padding-right: 5px;
  }
}
