.textControls {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 90%;
  margin-bottom: 1.9rem;
  color: var(--color-text);
}

.textControls__speedControls {
  flex: 1 1 35vw;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
}

.textControls__inputContainer {
  display: inherit;
  gap: inherit;
  align-items: center;
  justify-content: center;
}

.textControls__speedSlider {
  flex: 1 1 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textControls__speedSlider__inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textControls__speedSlider p {
  margin: 0.3rem 0;
}

.textControls__speedSlider__input {
  flex: 1;
  height: 8px;
  border-radius: 5px;
  cursor: pointer;
  accent-color: var(--color-primary);
  border: none;
}

.textControls__speedSlider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
}

.textControls__speedSlider__input::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
}

.textControls__buttons {
  flex: 1 1 31vw;
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.textControls__buttons__pauseButton,
.textControls__buttons__startButton,
.textControls__buttons__restartButton {
  flex: 1;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--color-primary);
}

.textControls__buttons__pauseButton:hover,
.textControls__buttons__startButton:hover,
.textControls__buttons__restartButton:hover {
  background-color: var(--color-primary-hover);
}

.textControls__selectLevel {
  flex: 1 1 18vw;
  padding: 0.6rem 0.9rem;
  padding-right: 2.2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.6rem center;
}

.textControls__selectLevel select:hover {
  background-color: var(--color-primary-hover);
}

.textControls__wordsPerMinute {
  flex: 1 1 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textControls__wordsPerMinute__input {
  width: 55px;
  height: 30px;
  border: none;
  text-align: center;
  font-size: 1rem;
}

.bi-clock {
  color: var(--color-primary-hover);
  margin-right: 0.12rem;
}

@media (max-width: 980px) {
  .textControls {
    flex-direction: column;
    max-height: 250px;
  }

  .textControls__speedControls {
    width: 100%;
    flex: 1;
  }

  .textControls__buttons {
    width: 100%;
    flex: 1;
  }
}

@media (max-width: 580px) {
  .textControls {
    gap: 10px;
  }

  .textControls__buttons {
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }

  .textControls__selectLevel {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .textControls__speedControls {
    flex-direction: column;
    gap: 5px;
  }

  .textControls__selectLevel {
    flex: 1;
  }

  .textControls__inputContainer {
    gap: 5vw;
  }
}
