.textContainer {
  background-color: var(--color-bg-light);
  border-radius: 12px;
  padding: 1.2rem;
  overflow: auto;
  margin-bottom: 1.2rem;
  box-shadow: 0 0 5px var(--color-shadow);
  max-height: 75vh;
  max-width: 90%;
  color: black;
  position: relative;
}

.textContainer__textTitle {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.6rem 0;
}

.textContainer__textAuthor {
  font-size: 0.8em;
  text-align: right;
}

.textContainer__text-paragraph {
  font-size: 1rem;
  text-align: justify;
  text-indent: 4em;
  line-height: 1.5rem;
  word-spacing: 0.15rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0.75rem 0;
}

mark {
  background-color: var(--color-secondary-hover);
  border-radius: 5px;
  padding: 0.1rem 0 0.2rem;
}

@media (max-width: 720px) {
  .textContainer {
    max-width: 98%;
  }
}
