.textReaderContainer {
  width: 80%;
  height: auto;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
  border-radius: 15px;
  padding: 4svh 6svh;
  box-shadow: 0 4px 8px 0 var(--color-shadow-transparent),
    0 6px 20px 0 var(--color-shadow);
}

.textReaderContainer__fileUploader {
  border: 2px dashed var(--color-border-light);
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  background-color: var(--color-accent);
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.textReaderContainer__fileUploader__input {
  display: none;
}

.textReaderContainer__fileUploader__label {
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 12px;
  width: 30%;
}

.textReaderContainer select:hover,
label:hover {
  background-color: var(--color-primary-hover);
}

.textReaderContainer__fileUploader__selectText {
  padding: 10px 15px;
  padding-right: 35px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  margin: 12px;
  width: 30%;
}

.textReaderContainer__fileName {
  max-height: 500px;
  max-width: 900px;
  width: 90%;
}

@media (max-width: 1150px) {
  .textReaderContainer {
    width: 95%;
  }
}

@media (max-width: 840px) {
  .textReaderContainer__fileUploader__label {
    width: auto;
  }
}

@media (max-width: 700px) {
  .textReaderContainer__fileUploader__label {
    margin-top: 10px;
  }

  .textReaderContainer {
    padding-left: 5px;
    padding-right: 5px;
  }

  .textReaderContainer__fileUploader__inputSelectGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .textReaderContainer__fileUploader__label,
  .textReaderContainer__fileUploader__selectText {
    width: 90%;
    margin: 8px;
  }

  .textReaderContainer__fileUploader__text {
    margin-bottom: 10px;
  }
}
